In [1]:
include("../src/TableSchema.jl")
using TableSchema
using Base.Test

In [2]:
s = Schema("../data/schema_valid_missing.json")
validate(s)
TableSchema.is_valid(s)

true

In [3]:
s.fields[1].constraints

TableSchema.Constraints(true, false)

In [4]:
t = Table("../data/data_types.csv")
tr = TableSchema.read(t)
length(tr[:,1])

5

In [5]:
t.headers

5-element Array{String,1}:
 "id"
 "height"
 "age"
 "name"
 "occupation"

In [6]:
tr

5Ã—5 Array{Any,2}:
 1  10.0  1  "string1"  "2012-06-15 00:00:00"
 2  10.1  2  "string2"  "2013-06-15 01:00:00"
 3  10.2  3  "string3"  "2014-06-15 02:00:00"
 4  10.3  4  "string4"  "2015-06-15 03:00:00"
 5  10.4  5  "string5"  "2016-06-15 04:00:00"

In [7]:
sum([ row[1] for row in t ])

15

In [12]:
[ f.name for f in s.fields ]

5-element Array{String,1}:
 "id"
 "height"
 "age"
 "name"
 "occupation"

In [9]:
t.schema = s
validate(t)

true